<!DOCTYPE html >
<html lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Starter theme</title>
  <meta name="description" content="{{ page_description }}">
  <link rel="canonical" href="{{ canonical_url }}">
  {{ 'base.css' | asset_url | stylesheet_tag }}
  {{content_for_header}}
</head>
<body>
  {{ content_for_layout }}
  </body>