<style>
  #announcement-{{ section.id }} {
    --align-items: {{ section.settings.section_align_items }};
    --background: {{ section.settings.section_background }};
    --font-size: {{ section.settings.link_font_size }}px;
    --font-weight: {{ section.settings.font_weight }};
    --font-color: {{ section.settings.font_color }};
    --text-decoration: {{ section.settings.text_decoration }};
    --padding: {{ section.settings.padding_block }}px {{ section.settings.padding_inline }}px;
  }

  #announcement-{{ section.id }} .link {
    {% if section.settings.enable_animation %}
      animation:
      {% if section.settings.animation_direction == 'rtl' %}
        move-rtl
      {% else %}
        move-ltr
      {% endif %}
       5s linear infinite;
    {% endif %}
  }

  @keyframes move-rtl {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes move-ltr {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
</style>

{% stylesheet %}

  .announcement-wrapper {
    background: var(--background);
    padding: var(--padding);
    align-items: var(--align-items);
    justify-content: var(--align-items);
    padding: var(--padding);
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    overflow: hidden;
  }

  .link {
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    color: var(--font-color);
    text-decoration: var(--text-decoration);
  }

{% endstylesheet %}

  <div id="announcement-{{ section.id }}" class="announcement-wrapper">
    {% if section.settings.link_text != blank %}
      <a href="{{ section.settings.link }}" class="link">
        {{ section.settings.link_text }}
      </a>
    {% endif %}
  </div>

{% schema %}
  {
    "name": "Announcement Bar",
    "tag": "section",
    "class": "announcement",

    "settings": [
      {
        "type": "header",
        "content": "Section Settings"
      },

      {
        "type": "select",
        "id": "section_align_items",
        "label": "Align content",
        "options": [
          { "value": "center", "label": "Center" },
          { "value": "flex-start", "label": "Left" },
          { "value": "flex-end", "label": "Right" }
        ],
        "default": "center"
      },

      {
        "type": "range",
        "id": "padding_inline",
        "label": "Padding Inline",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "default": 16
      },

      {
        "type": "range",
        "id": "padding_block",
        "label": "Padding Block",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "default": 10
      },

      {
        "type": "color",
        "id": "section_background",
        "label": "Background Color",
        "default": "#000000"
      },

      {
        "type": "header",
        "content": "Link Settings"
      },

      {
        "type": "checkbox",
        "id": "enable_animation",
        "label": "Enable moving text",
        "default": false
      },

      {
        "type": "select",
        "id": "animation_direction",
        "label": "Text direction",
        "options": [
          { "value": "ltr", "label": "Left to Right" },
          { "value": "rtl", "label": "Right to Left" }
        ],
        "default": "rtl"
      },

      {
        "type": "text",
        "id": "link_text",
        "label": "Text",
        "default": "Free shipping on all orders!"
      },

      {
        "type": "url",
        "id": "link",
        "label": "Link URL"
      },

      {
        "type": "range",
        "id": "link_font_size",
        "label": "Font Size",
        "min": 10,
        "max": 40,
        "step": 1,
        "unit": "px",
        "default": 14
      },

      {
        "type": "select",
        "id": "font_weight",
        "label": "Font Weight",
        "options": [
          { "value": "400", "label": "Regular" },
          { "value": "600", "label": "Medium" },
          { "value": "700", "label": "Bold" }
        ],
        "default": "600"
      },

      {
        "type": "select",
        "id": "text_decoration",
        "label": "Text Decoration",
        "options": [
          { "value": "none", "label": "None" },
          { "value": "underline", "label": "Underline" }
        ],
        "default": "none"
      },

      {
        "type": "color",
        "id": "font_color",
        "label": "Text Color",
        "default": "#ffffff"
      }
    ],

    "presets": [
      {
        "name": "Announcement Bar"
      }
    ]
  }
{% endschema %}

