
<style>
  .featured-collection {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 16px;
    padding-inline: {{ section.settings.section-padding__inline }}px;
    margin-block: 1rem;
    @media (max-width: 992px) {
      grid-template-columns: repeat({{ section.settings.grid-column }}, 1fr);
      place-items: {{ section.settings.grid-place-item }};
    }
  }

  .feature-item {
    max-width: 350px;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    @media (max-width:992px) {
      width: 100%;
    }
  }

  .feature-item img {
    max-width: 100%;
    height: auto;
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .collections_title {
    font-size: {{ section.settings.title-font_size }}rem;
    color: {{ section.settings.title-text__color }};
    margin: 0;
  }

  .feature-item p {
    font-size: 1.2em;
    color: #555;
    margin: 0;
  }

  .product_button {
    background: #000;
    padding: 1rem;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border-radius: 0;
  }
</style>

<div class="featured-collection">
  {% if section.settings.featured_collection != blank %}

    {% for product in section.settings.featured_collection.products %}

      <div class="feature-item">
        <img
          src="{{ product.featured_image | img_url: 'medium' }}"
          alt="{{ product.title }}"
        />
        <h2 class="collections_title">{{product.title}}</h2>
        <p>{{ product.price | money }}</p>

        <a href="{{collection_product.url }}" class="product_button">View Product</a>
      </div>
    {% endfor %}
    {% endif %}
  </div>

{% schema %}
{
  "name": "Featured Collection",
  "settings": [
    {
      "type": "collection",
      "id": "featured_collection",
      "label": "Select collection"
    },

    {
      "type": "range",
      "label": "padding inline",
      "id": "section-padding__inline",
      "min": 20,
      "max": 40,
      "step": 4,
      "default": 20,
    },

    {
      "type": "select",
      "label": "grid column on mobile",
      "id": "grid-column",

      "options": [
        {"value": "2", "label": "two"},
        {"value": "1", "label": "one"}
      ]
    },

    {
      "type": "select",
      "label": "place-item on mobile",
      "id": "grid-place-item",

      "options": [
        {"value": "center", "label": "center"},
        {"value": "baseline", "label": "baseline"},
        {"value": "end", "label": "end"}
      ]
    },

    {
      "type": "range",
      "label": "title font size",
      "id": "title-font_size",
      "min": 1.2,
      "max": 2.2,
      "step": 0.1,
      "default": 1.2,
      "unit": "rem"
    },

    {
      "type": "select",
      "label": "title color",
      "id": "title-text__color",

      "options": [
        {"value": "black", "label": "black"},
        {"value": "gray", "label": "gray"},
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Collection",
      "category": "Collection"
    }
  ]
}
{% endschema %}

