<style>
.hero {
  margin-bottom : 40px;
}

.container {
  max-width: 1440px;
  margin-inline: auto;
  position: relative;
}

.hero__image img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.hero__text {
  position: absolute;
  left: {{ section.settings.content_left }}px;
  right: {{ section.settings.content_right }}px;
  top: {{ section.settings.content_top }}px;
  bottom:{{ section.settings.content_bottom }}px;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 16px 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  width: 450px;
}

.hero__title {
  font-size: 30px;
  font-weight: {{ section.settings.font_weight }};
  text-transform: uppercase;
}

.hero__description {
  font-size: {{ section.settings.font-size }}px;
  font-weight: 500;
}

</style>
<section class="hero">
  <div class="container">

    {% if section.settings.slid_image %}
      <div class="hero__image">
        <img
          src="{{ section.settings.slid_image | image_url: width: 1920 }}"
          alt="{{ section.settings.slid_image.alt | escape }}"
        >
      </div>
    {% endif %}

    <div class="hero__text">
      <h1 class="hero__title">
        {{ section.settings.hero_title }}
      </h1>

      <p class="hero__description">
        {{ section.settings.hero_text }}
      </p>
    </div>

  </div>
</section>


{% schema %}
  {
    "name": "Hero Section",
    "settings": [
      {
        "type": "image_picker",
        "id": "slid_image",
        "label": "Hero Image",
      },
      {
        "type": "text",
        "id": "hero_title",
        "label": "Hero Title",
        "default":"Hello I am Hero Title"
      },

      {
        "type": "text",
        "id": "hero_text",
        "label": "Description",
        "default": "Hello I am Description",
      },
      {
        "type": "range",
        "id": "font-size",
        "label": "font-size",
        "min": 16,
        "max": 40,
        "step": 1,
        "unit": "px",
        "default": 24,
      },
      {
        "type": "select",
        "id": "font_weight",
        "label": "font weight",
        "options": [
          {"value": "400", "label": "Regular"},
          {"value": "600", "label": "medium"},
          {"value": "700", "label": "Large"},
        ]
      },
      {
        "type": "range",
        "id": "content_left",
        "label": "left",
        "min": 30,
        "max": 800,
        "unit": "px",
        "default": 100,
        "step": 10
      },
      {
        "type": "range",
        "id": "content_right",
        "label": "Right Offset",
        "min": 30,
        "max": 800,
        "step": 10,
        "unit": "px",
        "default": 30
      },
      {
        "type": "range",
        "id": "content_top",
        "label": "Top",
        "min": 100,
        "max": 800,
        "unit": "px",
        "default": 130,
        "step": 10
      },
      {
        "type": "range",
        "id": "content_bottom",
        "label": "Bottom Offset",
        "min": 50,
        "max": 800,
        "step": 10,
        "unit": "px",
        "default": 50
      }
    ],
    "presets": [
      {
        "name": "Hero Section"
      }
    ]
  }
{% endschema %}