<style>
  .image-with-text-{{ section.id }} {
    --flex-direction: {{ section.settings.flex_direction }};
    --flex-direction-mobile: {{ section.settings.flex_direction_mobile }};
    --justify-content: {{ section.settings.justify_content }};
    --gap: {{ section.settings.gap }}px;
    --section-margin-block: {{ section.settings.section_margin_block }}px;
    --image-width: {{ section.settings.image_width }}px;
    --image-radius: {{ section.settings.image_border_radius }}px;
    --image-mbl-width: {{ section.settings.image_width_mbl }}%;
    --content-width: {{ section.settings.text_content_width }}px;
    --section-mb-mobile: {{ section.settings.section_margin_block_mobile }}px;
    --description-font-size: {{ section.settings.description_font_size }}px;
    --description-font-color: {{ section.settings.description_font_color }};
    --description-line-height: {{ section.settings.description_line_height }};
    --heading-font-size: {{ section.settings.heading_size }}px;
    --headig-font-color: {{ section.settings.heading_font_color }};
    --heading-font-weight: {{ section.settings.heading_font_weight }};
    --button-font-color: {{ section.settings.button_font_color }};
    --button-padding: {{ section.settings.button_padding_block }}px {{ section.settings.button_padding_inline }}px;
    --button-font-size: {{ section.settings.button_font_size }}px;
    --button-font-weight: {{ section.settings.button_font_weight }};
    --button-border-radius: {{ section.settings.button_border_radius }}px;
    --button-text-decoration: {{ section.settings.button_text_decoration }};
    --button-width: {{ section.settings.button_width }}px;

    --button-justify: {% if section.settings.button_alignment == 'center' %}center{% elsif section.settings.button_alignment == 'left' %}flex-start{% else %}flex-end{% endif %};
    --mobile-align-items: {% if section.settings.text_align_mobile %}center{% else %}flex-start{% endif %};
    --mobile-text-align: {% if section.settings.text_align_mobile %}center{% else %}left{% endif %};
  }

  {% if section.settings.ishover %}
    .image-with-text-{{ section.id }} .button:hover {
      background-color: {{ section.settings.button_hover_bg }};
      color: {{ section.settings.button_hover_text_color }};
    }
  {% endif %}

</style>

{% stylesheet %}

  .container {
    display: flex;
    flex-direction: var(--flex-direction);
    justify-content: var(--justify-content);
    gap: var(--gap);
    align-items: stretch;
    margin-block: var(--section-margin-block);
  }

  .image {
    width: 100%;
    max-width: var(--image-width);
    overflow: hidden;
    flex-shrink: 0;
  }

  .image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: var(--image-radius);
  }

  .content {
    max-width: var(--content-width);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-self: center;
  }

  .heading {
    font-size: var(--heading-font-size);
    color: var(--headig-font-color);
    font-weight: var(--heading-font-weight);
    margin: 0;
    text-transform: capitalize;
  }

  .description {
    font-size: var(--description-font-size);
    color: var(--description-font-color);
    line-height: var(--description-line-height);
    margin: 0;
  }

  .button {
    color: var(--button-font-color);
    background: var(--button-background);
    padding: var(--button-padding);
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    border-radius: var(--button-border-radius);
    text-decoration: var(--button-text-decoration);
    width: var(--button-width);
    display: inline-block;
    text-align: center;
    transition: all 0.3s ease-in;
  }

  .button-container {
    display: flex;
    justify-content: var(--button-justify);
  }

  @media (max-width: 768px) {
    .container {
      flex-direction: var(--flex-direction-mobile);
    }

    .image {
      max-width: var(--image-mbl-width);
    }

    .content {
      align-items: var(--mobile-align-items);
      text-align: var(--mobile-text-align);
    }
  }

{% endstylesheet %}

<section class="image-with-text-{{ section.id }}">
  <div class="container">

    <div class="image">
      {% if section.settings.image != blank %}
        {{ section.settings.image | image_url: width: 800 | image_tag }}
      {% else %}
        <div class="placeholder">
          {{ 'image' | placeholder_svg_tag: 'placeholder' }}
        </div>
      {% endif %}
    </div>

    <div class="content">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'heading' %}
            <h1 class="heading heading-{{ block.id }}" {{ block.shopify_attributes }}>
              {{ block.settings.heading }}
            </h1>

          {% when 'text' %}
            <p class="description" {{ block.shopify_attributes }}>
              {{ block.settings.description }}
            </p>

          {% when 'button' %}
            {% if block.settings.button_text != blank %}
              <style>
                .button-{{ block.id }} {
                  --button-background: {{ block.settings.button_background }};
                }
              </style>
              <div class="button-container button-{{ block.id }}" {{ block.shopify_attributes }}>
                <a href="{{ block.settings.button_link }}" class="button">
                  {{ block.settings.button_text }}
                </a>
              </div>
            {% endif %}
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}

  {
    "name": "Image with Text",
    "tag": "section",
    "class": "section",

    "settings": [
      {
        "type": "header",
        "content": "Image Settings"
      },

      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
      },

      {
        "type": "number",
        "id": "image_width",
        "label": "Image Width (px)",
        "default": 350,
      },

      {
        "type": "range",
        "id": "image_width_mbl",
        "label": "image width on mobile (Recommended 100%)",
        "min": 10,
        "max": 100,
        "step": 10,
        "unit": "%",
        "default": 100
      },

      {
        "type": "number",
        "id": "image_border_radius",
        "label": "Image Border Radius",
        "default": 0
      },

      {
        "type": "header",
        "content": "Text Content Settings"
      },

      {
        "type": "number",
        "id": "text_content_width",
        "label": "Text Content Width",
        "default": 600
      },

      {
        "type": "checkbox",
        "id": "text_align_mobile",
        "label": "Center content on mobile",
        "default": true,
      },

      {
        "type": "header",
        "content": "Section Layout"
      },

      {
        "type": "range",
        "id": "section_margin_block",
        "label": "Section Margin Block",
        "min": 0,
        "max": 200,
        "step": 10,
        "unit": "px",
        "default": 0
      },

      {
        "type": "range",
        "id": "section_margin_block_mobile",
        "label": "Section Margin Block Mobile",
        "min": 0,
        "max": 200,
        "step": 10,
        "unit": "px",
        "default": 0
      },

      {
        "type": "select",
        "id": "flex_direction",
        "label": "Flex Direction",

        "options": [
          { "value": "row", "label": "Row" },
          { "value": "column", "label": "Column" },
          { "value": "row-reverse", "label": "Row Reverse" },
          { "value": "column-reverse", "label": "Column Reverse" }
        ],
        "default": "row"
      },

      {
        "type": "select",
        "id": "justify_content",
        "label": "Justify Content",

        "options": [
          { "value": "center", "label": "Center" },
          { "value": "space-between", "label": "Space Between" },
          { "value": "space-evenly", "label": "Space Evenly" },
          { "value": "space-around", "label": "Space Around" }
        ],
        "default": "center"
      },

      {
        "type": "range",
        "id": "gap",
        "label": "Gap Between Items",
        "min": 10,
        "max": 80,
        "step": 5,
        "unit": "px",
        "default": 10
      },

      {
        "type": "select",
        "id": "flex_direction_mobile",
        "label": "Flex Direction on Mobile",

        "options": [
          { "value": "row", "label": "Row" },
          { "value": "column", "label": "Column" },
          { "value": "row-reverse", "label": "Row Reverse" },
          { "value": "column-reverse", "label": "Column Reverse" }
        ],
        "default": "column"
      },

      {
        "type": "header",
        "content": "Heading Settings",
      },

      {
        "type": "range",
        "id": "heading_size",
        "label": "Heading Font Size",
        "min": 16,
        "max": 64,
        "step": 2,
        "unit": "px",
        "default": 16
      },

      {
        "type": "range",
        "id": "heading_size_mobile",
        "label": "Heading Font Size Mobile",
        "min": 14,
        "max": 64,
        "step": 2,
        "unit": "px",
        "default": 16
      },

      {
        "type": "color",
        "id": "heading_font_color",
        "label": "Heading Font Color",
        "default": "#000"
      },

      {
        "type": "select",
        "id": "heading_font_weight",
        "label": "Heading Font Weight",

        "options": [
          { "value": "400", "label": "Regular" },
          { "value": "600", "label": "Medium" },
          { "value": "700", "label": "Bold" },
          { "value": "900", "label": "Extra Bold" }
        ],
        "default": "700"
      },

      {
        "type": "header",
        "content": "Description Settings",
      },

      {
        "type": "range",
        "id": "description_font_size",
        "label": "Description Font Size",
        "min": 14,
        "max": 48,
        "step": 2,
        "unit": "px",
        "default": 16
      },

      {
        "type": "range",
        "id": "description_font_size_mobile",
        "label": "Description Font Size Mobile",
        "min": 12,
        "max": 48,
        "step": 2,
        "unit": "px",
        "default": 16
      },

      {
        "type": "color",
        "id": "description_font_color",
        "label": "Description Font Color",
        "default": "#000"
      },

      {
        "type": "range",
        "id": "description_line_height",
        "label": "Line Height",
        "min": 1,
        "max": 2.5,
        "step": 0.1,
        "default": 1.6
      },

      {
        "type": "header",
        "content": "Button Settings"
      },

      {
        "type": "number",
        "id": "button_width",
        "label": "Button Width",
        "default": 200
      },

      {
        "type": "select",
        "id": "button_alignment",
        "label": "Button Alignment",

        "options": [
          { "value": "center", "label": "Center" },
          { "value": "left", "label": "Left" },
          { "value": "right", "label": "Right" }
        ],

        "default": "left"
      },

      {
        "type": "select",
        "id": "button_text_decoration",
        "label": "Text Decoration",

        "options": [
          { "value": "none", "label": "None" },
          { "value": "underline", "label": "Underline" },
          { "value": "line-through", "label": "Line Through" },
          { "value": "overline", "label": "Overline" }
        ],

        "default": "none"
      },

      {
        "type": "number",
        "id": "button_padding_inline",
        "label": "Padding Inline",
        "default": 12
      },

      {
        "type": "number",
        "id": "button_padding_block",
        "label": "Padding Block",
        "default": 10
      },

      {
        "type": "number",
        "id": "button_font_size",
        "label": "Font Size",
        "default": 12
      },

      {
        "type": "select",
        "id": "button_font_weight",
        "label": "Font Weight",

        "options": [
          { "value": "400", "label": "Regular" },
          { "value": "600", "label": "Medium" },
          { "value": "700", "label": "Bold" }
        ],

        "default": "600"
      },

      {
        "type": "color",
        "id": "button_font_color",
        "label": "Font Color",
        "default": "#fff"
      },

      {
        "type": "number",
        "id": "button_border_radius",
        "label": "Border Radius",
        "default": 10
      },

      {
        "type": "header",
        "content": "Button Hover Setting"
      },

      {
        "type": "checkbox",
        "id": "ishover",
        "label": "Enable hover",
        "default": true
      },

      {
        "type": "color",
        "id": "button_hover_bg",
        "label": "Button Hover Background",
        "default": "#fff"
      },

      {
        "type": "color",
        "id": "button_hover_text_color",
        "label": "Button Hover Text Colors",
        "default": "#000"
      },
    ],

    "blocks": [
      {
        "type": "heading",
        "name": "Heading",

        "settings": [

          {
           "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Image with Text Heading"
          },
        ]
      },

      {
        "type": "text",
        "name": "Text",
        "limit": 2,

        "settings": [
          {
            "type": "text",
            "id": "description",
            "label": "Description",
            "default": "Image with Text Description"
          },
        ]
      },

      {
        "type": "button",
        "name": "Button",
        "limit": 2,

        "settings": [
          {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "Shop Now"
          },

          { "type": "url",
            "id": "button_link",
            "label": "Button Link"
          },

          { "type": "color", "id": "button_background", "label": "Background Color", "default": "#000" },
        ]
      }
    ],

    "presets": [
      {
        "name": "Image with Text",
        "blocks": [
          {
            "type": "heading",
            "settings": {
              "heading": "Loream Heading Testing"
            },
          },

          {
            "type": "text",

            "settings": {
              "description": "This is your loream text testing. Experience the perfect blend of functionality and aesthetics."
            },
           },

          {
            "type": "button",

            "settings": {
              "button_text": "Shop Now",
              "button_background": "#000000"
            },
           },
        ]
      }
    ]
  }

{% endschema %}
