<!DOCTYPE html>
<html lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page_title }}</title>
  <meta name="description" content="{{ page_description }}">
  <link rel="canonical" href="{{ canonical_url }}">
  {{ content_for_header }}
</head>
<body>
  <h1>{{ 'gift_card.title' | t }} </h1>
</body>